

// Colors
$global-main-color: white;
$global-sidebar-color: white;
$global-sidebar-border-color: rgb(235, 235, 235);
$global-sidebar-text-color-selected: #686B74;

// Measures
$global-max-width: 75rem;
$header-max-height: 3.4375rem; // 55px
$global-min-margin: 0.625rem;
$sidebar_items-max-height: 3rem;
$sidebar_items-max-width: 15rem;
$sidebar-logo-max-size: 2.5rem; // 40px
$sidebar-logo-min-size: 2rem; // 32px
$sidebar-logo-margin: 1.4375rem;
$image-el-body-margin: 3%;
$image-main-size: 8.65625em;
$image-search-size: 2.75em;
$image-footer-max-size: 4.6875em;
$image-footer-medium-size: 3.125em;
$image-footer-minimum-size: 2.25em;
$icon-play-footer-max-size: 1.875em;
$icon-play-footer-minimum-size: 1.25em;
$icon-time-footer-max-size: 3.125em;
$icon-time-footer-minimum-size: 1.25em;

// Transitions
$sidebar-transition-icon-hover: 1s;

// Fonts Size
$global-max-font: 1.25rem; // 26px

// Fonts
